
#nav
{
    background-color:#fda4af;
   
}
#asnt
{
    color: black;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
#signin,#signup
{
    font-size: 20px;
    font-family:serif;
    color:green;
}
#signin:hover,#signup:hover
{
    background-color:lightseagreen;
    color: wheat;
}
