#msg
{
    display: inline;
    color: red;
    
}
#msg span{
    font-size: 20px;
}
#btn
{
    background-color: red;
    
}
#maindiv
{
    margin-top: 100px;
}
#m{
    text-decoration: none;
    text-shadow: 2px;
    color: lightskyblue;
}
#a,#b
{
    color:white;
    
}
